<h3>Friend profile</h3>

<ul class="collection">
    <li class="collection-item">First name: {{model.firstName}}</li>
    <li class="collection-item">Last name: {{model.lastName}}</li>
    <li class="collection-item">Email: {{model.email}}</li>
    <li class="collection-item">Twitter: {{model.twitter}}</li>
</ul>
