{{partial 'partials/header'}}

<div class="container">
    <h6 id="title" class="purple-text">+- Welcome to Ember.js</h6>

    {{outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

{{partial 'partials/footer'}}
