{{partial 'partials/header'}}

<div class="container">
    <h4 id="title">+- Welcome to Ember.js</h4>

    {{outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

{{partial 'partials/footer'}}
